# GuiTextField
protected net.minecraft.client.gui.GuiTextField field_146216_j # text

# RenderHelper
public net.minecraft.client.renderer.RenderHelper func_74521_a(FFFF)Ljava/nio/FloatBuffer; # setColorBuffer